

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background: #00AAFF;
}

.divider {
    padding:250px 3px 10px 3px;
    display:inline-block;
    border-radius:10px;
    margin-bottom: 10px;
}
.button {
    display: block;
    width: 100%;
    border: none;
    background-color: #2F86E2;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.down { Position: absolute; Bottom: 0; }